<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>

<body>
    <h1 class=title method=post>Your Rad Todo list</h1>
    <form action="/" method="POST">
        <input name="todos" type="text">
        <input type="submit">
    </form>

    <ul>{{#todos}}
        <li><input class="status" type="checkbox"><span> {{.}}</span></li>

        {{/todos}}
    </ul>


</body>

</html>